* {
  margin: 0;
  padding: 0;
  font-style: normal;
}

body {
  width: 1200px;
  background-color: #343434;
}

.wrapper {
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.artist,
.nameOfSong {
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
}

.player {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: auto;
  align-items: center;
}

.songCover {
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin: auto;
}

.back {
  background-image: url(./assets/back.svg);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}

.play {
  background-image: url(./assets/playBtn.png);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}

.next {
  background-image: url(./assets/next.svg);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}
